
body {
	color:#969696;
	font-size:16px;
	overflow-x:hidden;
	font-family: 'Cabin', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:700;
	color:#151515;
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-size:54px;
}

h2 {
	font-size:36px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:16px;
}

a {
	color:#151515;
	-webkit-transition:0.2s color;
	transition:0.2s color;
}



.big-banner{
    background-image:url('../img/background02.jpg') ;
    font-family: 'Dancing Script', cursive;
}


 .section-header .title {
	font-family: 'Dancing Script', cursive;
  margin-top:0px;
 
}


h1,h2,h3,h4,h5,h6 {
	font-weight:700;
	color:#151515;
	font-family: 'Quicksand', sans-serif;
} 

.white-text{
	font-family: 'Dancing Script', cursive;
    color: #FFF;
}

/* =========================================================== */

/*------------------------------------*\
	Menu
\*------------------------------------*/
 :root {
    --wesbos: #ffc600;
  }
  
  .menu {
    display: none;
  }
  .menu--is-visible {
    display: grid;
  }
  @media (min-width: 768px) {
    .menu {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 80px;
    }
  }
  
  .item__header {
    display: flex;
    align-items: baseline;
  }
  .item__title {
    font: 35px cookie, cursive;
    color: var(--wesbos);
    letter-spacing: 2px;
    margin: 0;
  }
  .item__dots {
    flex: 1;
    border-bottom: 1px dashed #aaa;
    margin: 0 15px;
  }
  .item__price {
    color: var(--wesbos);
    font: 31px cookie, cursive;
  }
  .item__description {
    margin-bottom: 40px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  @media (min-width: 768px) {
    .buttons-container {
      margin-bottom: 60px;
    }
  }
  
  .button {
    margin: 5px 15px;
    padding: 10px 20px;
    border: 1px solid var(--wesbos);
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .highlight {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: var(--wesbos);
    border-radius: 3px;
    z-index: -1;
    transition: 0.24s;
  }
  
  * {
    box-sizing: border-box;
  }
  
   .menubody {
    margin: 0;
    min-height: 800px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/background01.jpg');   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fff;
  } 
  
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* h2 {
    display: inline-block;
    border-bottom: 4px solid var(--wesbos);
    margin-top: 0;
    font: 50px cookie, cursive;
  }
  */
  

/* Contact */

/* }
.newinput .form-group {
    margin: 8px 0 9px !important;
    padding-bottom: 10px;
}
.contact-form .form-control {
    color: #000 !important;
    font-size: 16px;
    font-weight: normal;
    height: 38px;
    line-height: 1.42857;
    padding: 7px 0;
}
.form-control, .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
} */




/*------------------------------------*\
	Footer
\*------------------------------------*/
#footer {
	padding-top:40px;
	padding-bottom:40px;
	background-color:#151515;
}

.footer-nav {
	text-align:right
}

.footer-nav a {
	display:inline-block;
	margin-left:15px;
	color:#969696;
	font-size:14px;
	text-transform:uppercase;
}

.footer-nav a:hover , .footer-nav a:focus {
	color:#f36500;
}
