
html,
body {
 height: 100%;
 position: relative;
}


body {
	color:#969696;
	font-size:16px;
	overflow-x:hidden;
	font-family: 'Cabin', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:700;
	color:#151515;
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-size:54px;
}

h2 {
	font-size:36px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:16px;
}

a {
	color:#151515;
	-webkit-transition:0.2s color;
	transition:0.2s color;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 70%;
  min-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.big-banner{
    background-image:url('../img/background02.jpg') ;
    font-family: 'Dancing Script', cursive;
}


h1,h2,h3,h4,h5,h6 {
	font-weight:700;
	color:#151515;
	font-family: 'Quicksand', sans-serif;
} 

.white-text{
  font-family: 'Dancing Script', cursive;
    color: #FFF;
}

/* Caruzel */

\*------------------------------------*/
#Gallery {
	margin-top:40px;
}

#Gallery .Gallery-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height:500px;
}



#Gallery .Gallery-item  .Gallery-img {
	background-position: center;
	background-size: cover;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin:3px;
}

#img01{
  height:400px;
}

  .menu {
    display: none;
  }
  .menu--is-visible {
    display: grid;
  }
  /* @media (min-width: 768px) {
    .menu {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 80px;
    }
  } */
  
  .item__header {
    display: flex;
    align-items: baseline;
  }
  .item__title {
    font: 35px cookie, cursive;
    color: var(--wesbos);
    letter-spacing: 2px;
    margin: 0;
  }
  .item__dots {
    flex: 1;
    border-bottom: 1px dashed #aaa;
    margin: 0 15px;
  }
  .item__price {
    color: var(--wesbos);
    font: 31px cookie, cursive;
  }
  .item__description {
    margin-bottom: 40px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  /* @media (min-width: 768px) {
    .buttons-container {
      margin-bottom: 60px;
    }
  } */
  
  .button {
    margin: 5px 15px;
    padding: 10px 20px;
    border: 1px solid var(--wesbos);
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .highlight {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: var(--wesbos);
    border-radius: 3px;
    z-index: -1;
    transition: 0.24s;
  }
  
  * {
    box-sizing: border-box;
  }
  
   .menubody {
    margin: 0;
    min-height: 800px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/menu.jpg');   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fff;
  } 
  
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  

/* Reservation */

.opening-time {
  padding: 40px 8% 40px;
  background: #151515;
  margin-top: 40px;
  border-radius: 10px;
}

.reserve-form{
  border-radius: 20px;
}


.section-header .sub-title {
  /* font-weight: 400; */
  color: #f36700;
  
}

/* h4 {
  /* font-size: 16px; */ 


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #151515;
  font-family: 'Quicksand', sans-serif;
}
.h4, h4 {
  font-size: 18px;
}
.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-header .title {
  font-family: 'Dancing Script', cursive;
  margin-top: 0px;
}

.touch{
  padding-top: 50px;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

h2 {
  font-size: 36px;
}




/*------------------------------------*\
	Contact
\*------------------------------------*/
 #map {
	position:absolute;
	top:0;
	left:0;
	bottom:20px;
  width:100%;
  height: 400px;
  margin-left: 100px;
}







/*------------------------------------*\
	Footer
\*------------------------------------*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
 }

/* #footer {
	/* padding-top:40px;
	padding-bottom:40px; */
  /* background-color:#151515;
  margin-top: 150px;
}

.footer-nav { */
	/* text-align:right
}

.footer-nav a {
	display:inline-block;
	margin-left:15px;
	color:#969696;
	font-size:14px;
	text-transform:uppercase;
}

.footer-nav a:hover , .footer-nav a:focus {
	color:#f36500;
}  */


/* 
DatePicker & TimePicker */

element.style {
  position: absolute;
  top: 293.168px;
  left: 306.819px;
}

#scrollDefaultExample{
  width: 7.5em;
  text-align: center;
} 

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
  -ms-overflow-style: none;
}

.ui-timepicker-list{
  background: black;
  color: white;
  list-style-type: none; 
}


/* Hide scrollbar for Chrome, Safari and Opera */
/* .ui-timepicker-list ::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE and Edge */
/* .ui-timepicker-list {
  -ms-overflow-style: none;
}
*/

.ui-timepicker-wrapper {
  overflow-y: auto;
  max-height: 100px;
  width: 8.5em;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);

  outline: none;
  z-index: 10052;
  margin: 0;
}


.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
  background-color: black;
  color: white;
}


.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
  background-color: black;
  color: white;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
  background-color: black;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: black;
  font-weight: normal;
  color: white;
}

.ui-widget-content .ui-state-default:hover {
background:red;
}

.ui-button:hover{
  color: blue;
} 